body * {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

.playlists {
  list-style: none;
}

.playlist {
  list-style: none;
  display: inline-flex;
  padding: 10px;
  margin: 2px;
  font-size: 16px;
  border: 1px solid crimson;
}

